# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
venv/
/dist
/rossini/
.idea/
node_modules/
temp/
test.*
mapconverter/

# local env files
.env.local
.env.*.local
.env
.vscode
.DS_Store
secret.txt
