version: "3"
services:
  api:
    image: davitsh/rossini_str_api:latest
    restart: unless-stopped
    depends_on:
      - mongo

    ports:
      - 8001:8000

#    environment:
#      - MONGO_USER=${MONGO_USER}
#      - MONGO_PASSWORD=${MONGO_PASSWORD}
#      - DATABASE_NAME=${DATABASE_NAME}
#      - IP_ADDRESS=${IP_ADDRESS}
#      - PORT=${PORT}
#      - MAP_NAME=${MAP_NAME}

    env_file:
      - .env

    networks:
      - rossini_net

    stdin_open: true
    tty: true

  mongo:
    image: mongo:latest
    env_file:
      - .env

    volumes:
      - mongo-db:/data/db

volumes:
  mongo-db:


networks:
  rossini_net:
    external: true
