name: Build and Deploy Code

on:
  push:
    branches:
      - 'production'
  pull_request:
    branches:
      - 'production'

jobs:
  build:
    env:
      MONGO_USER: ${{secrets.MONGO_USER}}
      MONGO_PASSWORD: ${{secrets.MONGO_PASSWORD}}
      DATABASE_NAME: ${{secrets.DATABASE_NAME}}
      IP_ADDRESS: ${{secrets.IP_ADDRESS}}
      DATABASE_USERNAME: ${{secrets.DATABASE_USERNAME}}
      PORT: ${{secrets.PORT}}
      MAP_NAME: ${{secrets.MAP_NAME}}

#    services:
#      mongodb:
#        image: mongo
#        env:
#          MONGO_INITDB_ROOT_USERNAME: ${{secrets.MONGO_USER}}
#          MONGO_INITDB_ROOT_PASSWORD: ${{secrets.MONGO_PASSWORD}}
#        ports:
#          - 27017:27017
#        options: >-
#          --health-cmd mongo
#          --health-interval 10s
#          --health-timeout 5s
#          --health-retries 5

    runs-on: ubuntu-latest
    steps:
      - name: pulling git repo
        uses: actions/checkout@v2
      - name: Install python version 3.9
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: update pip
        run: python -m pip install --upgrade pip
      - name: install dependencies
        run: pip install -r requirements.txt

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/rossini_str_api:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}


